.c1{
    color: blue;
}
.c2{
    background-color: red;color: white;
}
.c3{
    border-color: pink;
}
.c4{
    color: black; border-color: green;
}
.c5{
    color: white;background-color: black;
}